.lav-amenities {
	padding: 0px;
	.lav-page-body {
		padding: 0px;
		.container {
			.lav-amenities-list {
				gap: 40px 60px;
				margin: auto;
				grid-template-columns: repeat(3, 1fr);
				display: grid;
				.col {
					.lav-amenities-item {
						padding: 0px;
						width: 100%;
						.lav-amenities-item-img {
							padding-bottom: 10px;
							img {
								height: 240px;
								width: 100%;
							}
						}
						.lav-amenities-item-title {
							a {
								color: #162b75;
								font-family: 'EB Garamond';
								font-size: 24px;
								font-style: normal;
								font-weight: 500;
								line-height: 150%; /* 36px */
								text-transform: uppercase;
								flex-wrap: wrap;
								display: flex;
							}
						}
					}
				}
			}
			@media (max-width: 992px) {
				.row {
					grid-template-columns: repeat(2, 1fr);
				}
			}

			@media (max-width: 768px) {
				.row {
					grid-template-columns: repeat(1, 1fr);
				}
			}
		}
	}
}
