.lav-homepage {
	margin-top: -90px;
	position: relative;
	min-height: 550px;

    @media (max-width: 1200px) {
        margin-top: 0px;
    }

    @media (max-width: 576px) {
        margin-top: 90px;
    }
	.lav-banner-slideshow {
		overflow: hidden;
		.lav-banner-slide-item {
			width: 100%;
			height: 100vh;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			@media (max-width: 1199px) {
				height: 600px;
			}
		}
		.slick-dots {
			bottom: 30px;
			filter: invert(1);
			li button:before {
				font-size: 16px;
			}
		}
	}

	.lav-about-slideshow {
		overflow: hidden;
		.slick-list {
			padding: 0 !important;
			margin-left: -60px;
			margin-right: -60px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.lav-about-slide-item {
			opacity: 0.6;
			transition: all ease-in-out 0.3s;
			padding: 140px 0;
			height: 550px;
			&.slick-center {
				opacity: 1;
				transform: scale(2) !important;
				position: relative;
				z-index: 3;
			}
		}
	}
	&-sect {
		padding: 80px 0;
	}
	&-title {
		color: #162b75;
		font-family: 'EB Garamond';
		font-size: 40px;
		font-weight: 500;
		line-height: 150%;
		text-transform: uppercase;
		margin-bottom: 40px;
	}
	&-banner {
		position: relative;
		&-inner {
			padding: 100px 0;
			position: absolute;
			width: 100%;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			z-index: 3;
			h3 {
				font-family: 'EB Garamond';
				font-size: 24px;
				font-weight: 500;
				line-height: 130%;
				text-transform: uppercase;
				margin-bottom: 24px;
				color: #fff;
			}
		}
		&-info {
			padding: 30px;
			border-radius: 10px;
			background-color: rgba($color: #000, $alpha: 0.3);
			backdrop-filter: blur(3px);
			height: 100%;
			color: #fff;
		}
		&-form {
			border-radius: 10px;
			color: #fff;
			padding: 30px;
			background-color: rgba($color: #000, $alpha: 0.4);
			backdrop-filter: blur(3px);
			height: 100%;
			.lav-form-contact-description {
				display: none;
			}
			.lav-form-contact {
				.form-control {
					border-radius: 0;
					height: 45px;
					box-shadow: none;
				}
				> p {
					&:last-child {
						margin-bottom: 0;
						position: relative;
						.wpcf7-spinner {
							position: absolute;
							right: 0;
							top: 16px;
						}
					}
				}
			}
		}
	}
	&-overview {
		ul {
			li {
				padding: 6px 0;
			}
		}
	}
	&-location {
		background-color: #162b75;
		color: #fff;
		.lav-homepage-title {
			color: #fff;
		}
		ul {
			li {
				padding: 6px 0;
			}
		}
		.gallery {
			display: flex;
			column-gap: 24px;
			.gallery-item {
				height: 250px;
				overflow: hidden;
				a,
				.gallery-icon {
					display: block;
					width: 100%;
					height: 100%;
					overflow: hidden;
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
	&-amenities {
		background-color: #fcfcfc;
		.lav-page-body .container .lav-amenities-list .lav-amenities-item {
			margin-bottom: 24px;
			.lav-amenities-item-title {
				font-family: Montserrat;
				color: var(--Primary-Text-Color, #222);
				font-size: 16px;
				text-transform: none;
				text-align: center;
			}
		}
	}
	&-subdivision {
		background-color: #fcfcfc;
		padding: 80px 0;
	}
	.research-btn {
		color: var(--White-Color, #fff);
		font-family: Montserrat;
		font-size: 13px;
		font-weight: 500;
		line-height: 150%; /* 19.5px */
		text-transform: uppercase;
		padding: 10px 24px;
		background: var(--Accent-Color, #dca447);
		display: inline-flex;
		padding: 10px 24px;
		justify-content: center;
		align-items: center;
		width: fit-content;

		&:hover {
			opacity: 0.8;
			cursor: pointer;
		}
	}
}
