.lav-page-inner {
	padding-top: 80px;

	.lav-page-breadcrumb {
		display: flex;
		flex-direction: row;
		align-items: center;
		column-gap: 10px;
		margin-bottom: 24px;

		a {
			@extend body;
			font-size: 14px;

			&:hover {
				color: #162b75;
				font-weight: 500;
				opacity: 0.8;
			}
		}

		svg {
			width: 8px;
			height: 8px;
		}
	}

	.row {
		.lav-post-content {
			.lav-post-title {
				margin-bottom: 0;
				color: #162b75;
				font-family: 'EB Garamond';
				font-size: 32px;
				font-weight: 500;
				line-height: 130%; /* 41.6px */
				text-transform: uppercase;
			}

			.lav-post-meta {
				padding: 10px 0 24px;
				display: flex;
				flex-direction: row;
				align-items: center;
				column-gap: 4px;

				svg {
					width: 12px;
					height: 12px;
				}

				span,
				a {
					@extend body;
					font-size: 14px;
				}

				.lav-post-author {
					&:hover {
						color: #162b75;
						font-weight: 500;
						opacity: 0.8;
					}
				}
			}

			.lav-post-excerpt {
				p {
					padding: 16px 20px;
					background: #fcfcfc;
					@extend body;
					font-weight: 500;
					margin-bottom: 1rem;
				}
			}
			.lav-post-body{
				.addtoany_share_save_container {
					display: flex;
					align-items: center;
					gap: 10px;
					.addtoany_header{
						margin-bottom: 0;
					}
				}
			}
		}
	}

	@media screen and (max-width: 992px) {
		padding-top: 32px;
	}
}
