.lav-archive-item {
	height: 100%;
	&-image {
		border: 1px solid var(--BG-Accent-Color, #E5D2AE);
		display: flex;
		align-items: center;
		justify-content: center;
		height: 240px;
		overflow: hidden;
		margin-bottom: 16px;
		position: relative;
		overflow: hidden;
		
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transform-origin: center;
		}

		@media (min-width: 1200px) {
			&::before {
				background: linear-gradient(
					to right,
					fade_out(#fff, 1) 0%,
					fade_out(#fff, 0.7) 100%
				);
				content: '';
				display: block;
				height: 100%;
				left: -75%;
				position: absolute;
				top: 0;
				transform: skewX(-25deg);
				width: 50%;
				z-index: 2;
			}

			&:hover,
			&:focus {
				&::before {
					animation: shine 0.85s;
				}
			}

			@keyframes shine {
				100% {
					left: 125%;
				}
			}
		}
	}
	&-date {
		display: flex;
		align-items: center;
		column-gap: 4px;
		margin-bottom: 4px;
		font-size: 14px;
		opacity: 0.6;
		svg,
		img {
			width: 12px;
			min-width: 12px;
			height: auto;
		}
	}
	&-title {
		margin-bottom: 4px;
		a {
			display: block;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			overflow: hidden;
			font-size: 16px;
			font-weight: 600;
			line-height: 150%; /* 21px */
			color: var(--Primary-Text-Color, #222);
			transition: all ease-in-out 0.3s;
			height: calc(16px * 1.5 * 2);
			&:hover {
                color: var(--Accent-Color, #dca447);
				// color: var(--Primary-Color, #162b75);
			}
		}
	}
	&-description {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: justify;
	}
}
