.lav-archive-item {
	height: 100%;
	&-image {
		border: 1px solid var(--BG-Accent-Color, #e5d2ae);
		display: flex;
		align-items: center;
		justify-content: center;
		height: 240px;
		overflow: hidden;
		margin-bottom: 16px;
		@media (max-width: 1199px) {
			height: 200px;
		}
		@media (max-width: 991px) {
			height: 180px;
		}
		&:hover {
			img {
				transform: scale(1.1);
			}
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transform-origin: center;
			transition: all ease-in-out 0.3s;
		}
	}
	&-date {
		display: flex;
		align-items: center;
		column-gap: 4px;
		margin-bottom: 4px;
		font-size: 14px;
		opacity: 0.6;
		svg,
		img {
			width: 12px;
			min-width: 12px;
			height: auto;
		}
	}
	&-title {
		margin-bottom: 4px;
		a {
			display: block;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			overflow: hidden;
			font-size: 16px;
			font-weight: 600;
			line-height: 150%; /* 21px */
			color: var(--Primary-Text-Color, #222);
			transition: all ease-in-out 0.3s;
			height: calc(16px * 1.5 * 2);
			&:hover {
				color: var(--Accent-Color, #dca447);
				// color: var(--Primary-Color, #162b75);
			}
		}
	}
	&-description {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: justify;
	}
}
