.lav-sect-contact {
	position: relative;
	background-color: #fcfcfc;
	&-bg {
		position: absolute;
		width: 50%;
		height: 100%;
		top: 0;
		right: 0;

		@media only screen and (max-width: 991px) {
			position: unset;
		}
	}
	&-inner {
		padding: 90px 0 60px;
		@media (max-width: 1199px) {
			padding: 40px 0 30px;
		}
		h3 {
			color: var(--Primary-Color, #162b75);
			font-family: 'EB Garamond';
			font-size: 32px;
			font-weight: 500;
			line-height: 150%; /* 48px */
			letter-spacing: -0.64px;
			text-transform: uppercase;
			margin-bottom: 16px;
			@media (max-width: 1199px) {
				font-size: 28px;
			}
		}
		p {
			margin-bottom: 40px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.form-group {
			margin-bottom: 20px;
			.form-control {
				outline: 0;
				background-color: transparent;
				border-radius: 0;
				display: flex;
				height: 60px;
				padding: 16px 24px;
				border: 1px solid var(--BG-Accent-Color, #e5d2ae);
				box-shadow: none;
				transition: all ease-in-out 0.3s;
				&:focus {
					border-color: var(--Accent-Color, #dca447);
				}
			}
		}
		.btn {
			margin-top: 20px;
		}

		@media only screen and (max-width: 991px) {
			padding: 32px 0;
		}
	}
}
