.lav-header {
	min-height: 90px;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 995;
	background-color: var(--White-Color, #fff);
    .navbar {
        width: 100%;
    }
}
