.lav-sidebar {
	position: sticky;
	top: 120px;
	.lav-sidebar-widget {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
	.widget-title {
		color: var(--Primary-Color, #162b75);
		font-family: 'EB Garamond';
		font-size: 28px;
		font-weight: 500;
		line-height: 150%; /* 36px */
		letter-spacing: -0.48px;
		text-transform: uppercase;
		padding-bottom: 10px;
		border-bottom: 1px solid #f5f1e6;
		margin-bottom: 20px;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 150px;
			height: 3px;
			background-color: #162b75;
		}
	}
}
